body {
    font-family: 'Raleway', sans-serif;
}

main {
    background-color: #e5e5e5;
    padding-bottom: 64px;
}

/*Inicio header*/

header {
    background: #FFFF;
    width: auto;
    height: 115px;
    margin: 0 152px 0 152px;
}

.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    height: 115px;
}

.formularioDeBusca {
    display: flex;
    justify-content: right;
    margin-right: 700px;
}

#campo_busca {
    width: calc(389px + 4px);
    height: calc(38px + 2px);
    padding-left: 15px ;
    padding-right: 40px;
    border: none;
    background: #f5f5f5;
    border-radius: 40px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: black;
}

.campo_busca_lupa {
    position: absolute;
    margin-top: 10px;
    margin-right: 10px;
    /*left: -785px;
    top: 2px;*/
    cursor: pointer;
    border: none;
    background: none;
}

.campoLogin {
    cursor: pointer;
    width: 150px;
    height: 40px;
    background: transparent;
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
}

.campoLogin:hover {
    color: white;
    background: #2a7ae4;
    transition: 0.1s;
}

/*Inicio main*/

.bannerPrincipal .containerBanner {
    display: flex;
    flex-direction: column;
    height: 469.333px;
    justify-content: end;
}

.bannerImagem {
    min-width: 100vw;
    position: absolute;
}

.tituloBanner, .descricaoBanner, .botaoVerConsoles {
    margin-left: 156px;
    position: relative;
    margin-bottom: 32px;
}

.tituloBanner {    
    font-weight: 700;
    font-size: 52px;
    color: white;
    line-height: 61px;
}

.descricaoBanner {    
    color: white;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.botaoVerConsoles {
    width: 130px;
    height: 51px;
    border: none;
    background: #2A7AE4;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}

/*Conteudo de Produtos*/

.partePrincipal {
    margin: 0 152px
}

.partePrincipal .containerBoxes {
    display: flex;
    flex-direction: column;
    height: auto;
}

.boxTitulos {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 64px;
}

.lista__secoes___starWars {
    display: flex;
}

.imgsprodutos {
    width: 253px;
}

.listaprodutos {
    margin: 16px 16px 0 0;
}

.titulo__secoes___starWars, .titulo__secoes___consoles, .titulo__secoes___diversos {
    color: #464646;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.produtoStormTrooper, .produtoDarthVader, .produtoYodinhas, .produtoTrooperNow, .produtoMiniYoda, .produtoKylo {
    font-weight: 500;
    font-size: 15px;
    margin-top: 8px;
}

.precoStormTrooper, .precoDarthVader, .precoYodinhas, .precoTrooperNow, .precoMiniYoda, .precoKylo {
    font-weight: 700;
    font-size: 16px;
    margin: 8px 0 8px 0;
}

.linkProduto {
    text-decoration: none;
    color: #2A7AE4;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.linkProduto:hover {
    text-decoration: underline;
}

.listaprodutos {
    cursor: pointer;
    transition: transform .4s;
}

.listaprodutos:hover {
    transform: scale(1.08);    
}

.infoPrincipalFooter {
    background: #eaf2fd;
    padding-top: 64px;
    width: 100%;
}

.infoPrincipalFooter .informacoesEFormulario {
    display: flex;
    height: 368px;
    width: 100vw;
    justify-content: space-around;
}

.informacoesEFormulario {
    margin: 0 0 32px 0;
}


.listaRodape {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 16px;
    line-height: 48px;
}

.linksCabecalho {
    text-decoration: none;
    color: black;
}

.linksCabecalho:hover {
    color: #2A7AE4;
    font-weight: 500;
    text-decoration: underline;
}

.faleConoscoRodape {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    width: 560px;
    font-size: 16px;
    line-height: 19px;
}

form .inserirNome, .inserirMensagem {
    padding: 8px 12px;
    width: calc(560px - 16px);
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid #d3d3d3 2px;
    border-radius: 4px;
    box-shadow: #2A7AE4;
}

.nomeLabel {
    position: absolute;
    font-size: 12px;
    margin: 10px 11px;
    color: #a2a2a2;
}

.inserirNome {
    margin-top: 8px;
    height: calc(56px - 8px);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.inserirMensagem {
    font-family: 'Raleway';
    margin-top: 16px;
    height: calc(82px - 8px);
    resize: none;
    color: black;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.creditos {
    background: white;
    position: relative;
    height: calc(102px - 32px);
    text-align: center;
    line-height: 19px;
    font-size: 16px;
    font-weight: 500;
}

.btEnviarMsg {
    margin-top: 8px;
    width: 165px;
    height: 51px;
    background: #2A7AE4;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: white;
    border: none;
    cursor: pointer;
}

/*Width Device*/

@media screen and (max-width: 480px) {
    body {
        width: 100%;
    }

    header {
        width: auto;
        height: auto;
        margin: 0 19px 0 19px;
    }

    .cabecalhoPrincipal .container {
        display: flex;
        justify-content: space-between;
    }

    .container {
        height: 100px;
    }

    .cabecalhoLogo {
        width: 130px;
    }

    .formularioDeBusca {
        margin: 0;
        order: 3;
    }

    #campo_busca {
        position: absolute;
        visibility: hidden;
    }

    .campo_busca_lupa {
        position: inherit;
        margin-top: 5px;
    }

    .campoLogin {
        height: 50px;
        width: 160px;
    }

    /*Banner Principal Dez Promocional*/

    .bannerPrincipal .containerBanner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 230px;
    }
    
    .bannerImagem {
        width: 100%;
        height: 230px;
        object-fit: cover;
    }
    
    .tituloBanner, .descricaoBanner, .botaoVerConsoles {
        margin-left: 16px;
        margin-bottom: 16px;
    }
    
    .tituloBanner {    
        margin-top: 90px;
        font-weight: 700;
        font-size: 22px;
        color: white;
        line-height: 26px;
    }
    
    .descricaoBanner {    
        color: white;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
    }
    
    .botaoVerConsoles {
        width: 130px;
        height: 51px;
        border: none;
        background: #2A7AE4;
        color: white;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        cursor: pointer;
    }

    /*Conteudo principal de Produtos*/

    main {
        width: 100%;
    }

    .partePrincipal {
        margin-left: 16px;
        margin-right: 16px;
        width: 95%;
    }
    
    .partePrincipal .containerBoxes {
        display: flex;
        flex-direction: column;
    }
    
    .boxTitulos {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 64px;
    }
    
    .lista__secoes___starWars {
        display: flex;
        flex-flow: row wrap;
    }
    
    .imgsprodutos {
        width: 190px;
    }
    
    .listaprodutos {
        margin: 16px 16px 0 0;
        width: 45.9%;
    }
    
    .titulo__secoes___starWars, .titulo__secoes___consoles, .titulo__secoes___diversos {
        color: #464646;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
    }
    
    .produtoStormTrooper, .produtoDarthVader, .produtoYodinhas, .produtoTrooperNow, .produtoMiniYoda, .produtoKylo {
        font-weight: 500;
        font-size: 15px;
        margin-top: 8px;
    }
    
    .precoStormTrooper, .precoDarthVader, .precoYodinhas, .precoTrooperNow, .precoMiniYoda, .precoKylo {
        font-weight: 700;
        font-size: 16px;
        margin: 8px 0 8px 0;
    }
    
    .linkProduto {
        text-decoration: none;
        color: #2A7AE4;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
    }
    
    .linkProduto:hover {
        text-decoration: underline;
    }
    
    .listaprodutos {
        cursor: pointer;
    }

    /*Footer*/

    .infoPrincipalFooter {
        background: #eaf2fd;
        padding-top: 0;
        margin-top: 64px;
        width: 100%;
    }
    
    .infoPrincipalFooter .informacoesEFormulario {
        display: flex;
        height: 720px;
        width: 100%;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        justify-content: center;
        margin-bottom: 0;
    }

    .listaRodape {
        font-family: 'Raleway';
        width: 100%;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 39px;
    }
    
    .faleConoscoRodape {
        display: flex;
        flex-direction: column;
        margin-left: 16px;
        font-weight: 700;
        width: 100%;
        font-size: 16px;
        line-height: 19px;
    }
    
    form .inserirNome, .inserirMensagem {
        padding: 8px 12px;
        width: 328px;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: solid #d3d3d3 2px;
        border-radius: 4px;
        box-shadow: #2A7AE4;
    }
    
    .inserirNome {
        margin-top: 8px;
        height: 56px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }

    .creditos {
        height: 102px;
        text-align: center;
        top: 65px;
    }
}

@media screen and (min-width: 500px) and (max-width: 810px) {

    body {
        width: 100%;
    }

    header {
        width: auto;
        height: auto;
        margin: 0 19px 0 19px;
    }

    .cabecalhoPrincipal .container {
        display: flex;
        justify-content: space-between;
    }

    .container {
        height: 100px;
    }

    .cabecalhoLogo {
        width: 130px;
    }

    .formularioDeBusca {
        margin: 0;
    }

    #campo_busca {
        width: 272px;
        margin-right: 150px;
        margin-left: 20px;
    }

    .campo_busca_lupa {
        margin-right: 170px;
    }

    /*#campo_busca {
        position: absolute;
        visibility: hidden;
    }*/

    /*.campo_busca_lupa {
        position: inherit;
        margin-top: 5px;
    }*/

    .campoLogin {
        height: 50px;
        width: 160px;
    }

    /*Banner Principal Dez Promocional*/

    .bannerPrincipal .containerBanner {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 352px;
    }
    
    .bannerImagem {
        width: 100%;
        height: 352px;
        object-fit: cover;
    }
    
    .tituloBanner, .descricaoBanner, .botaoVerConsoles {
        margin-left: 16px;
        margin-bottom: 16px;
    }
    
    .tituloBanner {    
        margin-top: 90px;
        font-weight: 700;
        font-size: 52px;
        color: white;
        line-height: 61px;
    }
    
    .descricaoBanner {    
        color: white;
        font-weight: 700;
        font-size: 22px;
        line-height: 25.83px;
    }
    
    .botaoVerConsoles {
        width: 130px;
        height: 51px;
        border: none;
        background: #2A7AE4;
        color: white;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        cursor: pointer;
    }

    /*Conteudo principal de Produtos*/

    main {
        width: 100%;
    }

    .partePrincipal {
        margin-left: 16px;
        margin-right: 16px;
        width: 95%;
    }
    
    .partePrincipal .containerBoxes {
        display: flex;
        flex-direction: column;
    }
    
    .boxTitulos {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 64px;
    }
    
    #escondeEsconde {
        display: none;
    }
    
    .imgsprodutos {
        width: 182px;
    }
    
    .listaprodutos {
        margin: 16px 16px 0 0;
        width: 45.9%;
    }
    
    .titulo__secoes___starWars, .titulo__secoes___consoles, .titulo__secoes___diversos {
        color: #464646;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
    }
    
    .produtoStormTrooper, .produtoDarthVader, .produtoYodinhas, .produtoTrooperNow, .produtoMiniYoda, .produtoKylo {
        font-weight: 500;
        font-size: 15px;
        margin-top: 8px;
    }
    
    .precoStormTrooper, .precoDarthVader, .precoYodinhas, .precoTrooperNow, .precoMiniYoda, .precoKylo {
        font-weight: 700;
        font-size: 16px;
        margin: 8px 0 8px 0;
    }
    
    .linkProduto {
        text-decoration: none;
        color: #2A7AE4;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
    }
    
    .linkProduto:hover {
        text-decoration: underline;
    }
    
    .listaprodutos {
        cursor: pointer;
    }

    /*Footer*/

    .infoPrincipalFooter {
        background: #eaf2fd;
        padding-top: 0;
        margin-top: 64px;
        width: 100%;
    }
    
    .infoPrincipalFooter .informacoesEFormulario {
        display: flex;
        flex-direction: row;
        height: 364px;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 0;
    }

    .informacoesEFormulario {
        flex-flow: row wrap;
    }

    .logoRodape {
        flex: 0 0 25%;
        order: 1;
        margin-left: 16px;
        margin-top: 32px;
    }

    .listaRodape {
        flex: 0 0 25%;
        order: 3;
        position: absolute;
        margin-top: 12%;
        font-family: 'Raleway';
        width: 100%;
        margin-left: 32px;
        text-align: left;
        font-weight: 500;
        font-size: 16px;
        line-height: 39px;
    }
    
    .faleConoscoRodape {
        flex: 0 0 50%;
        order: 2;
        margin-top: 32px;
        margin-left: 16px;
        margin-right: 32px;
        font-weight: 700;
        width: 100%;
        font-size: 16px;
        line-height: 19px;
    }
    
    form .inserirNome, .inserirMensagem {
        padding: 8px 12px;
        width: 434px;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: solid #d3d3d3 2px;
        border-radius: 4px;
        box-shadow: #2A7AE4;
    }
    
    .inserirNome {
        margin-top: 8px;
        height: 56px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }

    .creditos {
        height: 102px;
        text-align: center;
        top: 65px;
    }
}

/* Pagina de Login */

.containerLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formLogin {
    display: flex;
    flex-direction: column;
}

.tituloLogin {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-top: 91px;
    margin-bottom: 25px;
}

.campoLoginEmail, .campoLoginSenha {
    font-family: 'Raleway';
    margin-bottom: 25px;
    width: calculate(423px - 24px);
    height: 63px;
    border-radius: 4px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px #C8c8c8;
    padding-left: 12px;
    padding-right: 12px;
}

.botaoEnviar {
    width: 423px;
    height: 62px;
    border: none;
    background: #2A7AE4;
    color: white;
    font-family: 'Raleway';
    font-weight: 600;
    cursor: pointer;
}

.botaoEnviar:hover {
    background: white;
    color: #2A7AE4;
    border: solid 1px #2A7AE4;
    transition: .2s;
}

/* Pagina de Login FIM */

/* Pagina de Produtos ADM */

.tituloTodosProdutos {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 32px;
}

.botaoAdicionarProduto {
    background: #2A7AE4;
    width: 164px;
    height: 51px;
    text-align: center;
    display: flex;
    font-weight: 500;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: white;
    border: 1px solid #2A7AE4;
}

.botaoAdicionarProduto:hover {
    background: #e5e5e5;
    color: #2A7AE4;
    border: 1px solid #2A7AE4;
    transition: 0.2s;
}

.listaTodosProdutos {
    display: flex;
    flex-flow: row wrap;
}

.imagensProdutos {
    width: 250px;
}

.codigoProduto {
    font-family: 'Raleway';
    color: #797979;
    font-size: 17px;
}

@media screen and (min-width: 500px) and (max-width: 810px) {

    .listaprodutos {
        width: auto;
    }

    .imagensProdutos {
        width: 176px;
    }

}

@media screen and (max-width: 480px) {

    .imagensProdutos {
        width: 176px;
    }

}

/* Pagina de Produtos ADM FIM */
